<a href="https://colab.research.google.com/github/HenHimA1/A1/blob/master/KNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import Library Python

In [75]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.dates as md

Import dataset dengan pandas

In [76]:
inputan1 = pd.read_csv("/content/lampu3 (1).csv", delimiter=";")
inputan2 = pd.read_excel("/content/ubah1lampu.xlsx")
outputan = pd.read_excel("/content/lampcombination.xlsx")

Menampilkan jumlah data

In [77]:
print(inputan1.shape)
print(inputan2.shape)
print(outputan.shape)

(4799, 2)
(935, 5)
(4799, 7)

Mengambil data power sebagai input

In [78]:
X_inputan1 = inputan1.iloc[:,0].tolist()
X_inp1 = np.array(X_inputan1)
X_inp1 = X_inp1.reshape(-1,1)

Mengambil data nyala lampu sebagai output

In [79]:
Y_outputan = outputan.iloc[:,2:7]
Y_out = np.array(Y_outputan)

Karena output an berupa nyala lampu, maka nilai output an dirubah kedalam bentuk integer. contoh jika output an berupa nyala lampu 2 dan 5 maka output an menjadi 
**[0, 1, 0, 0, 1]**. Jika diubah dalam bentu integer maka output berupa **[0 X 2^0, 0 X 2^1, 0 X 2^2, 0 X 2^3, 1 X 2^4] = 18**

In [80]:
Y = []
for i in range(Y_out.shape[0]):
  Y_now = Y_out[i,:]
  res = int("".join(str(x) for x in Y_now), 2)
  Y.append(res) 
Y_out = np.array(Y)

Menampilkan unique output dan jumlahnya (array pertama nilai unique dan array kedua jumlah nilai unique)

In [81]:
np.unique(Y_out,return_counts=True)

(array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
        17, 18, 19, 20, 22, 23, 24, 25, 27, 28, 29, 30, 31]),
 array([149, 150, 150, 150, 150, 150, 150, 150, 150, 150, 150, 150, 150,
        150, 150, 150, 150, 300, 150, 150, 150, 150, 150, 150, 300, 150,
        150, 150, 150, 150]))

Kemudian pisahkan antara data training dengan data testing (data testing tiga puluh persen dari data training)

In [82]:
X_train, X_test, y_train, y_test = train_test_split(X_inp1, Y_out, test_size=0.30, random_state=42)

Masukkan input dan output ke dalam fungsi KNN

In [83]:
jumlah_n = len(np.unique(Y_out))
fungsi_knn = KNeighborsClassifier(n_neighbors=jumlah_n)
fungsi_knn.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=30, p=2,
                     weights='uniform')

Uji coba model dengan data testing

In [84]:
prediksi = fungsi_knn.predict(X_test)
accuracy_score(y_test, prediksi)

0.9791666666666666